# Added by Shards tool

/docs/
/lib/
/bin/
/.shards/
*.dwarf


# Added by cargo

/target/
/discord.log
/discord.toml
/poker.toml

# Added by Yarot

/.vscode/
/config/app.toml
/config/discord.toml
/config/matrix.toml
/config/giphy.toml
/.logfile
